<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.SudoKey">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.SudoKey.Update"/>
        <activity android:name="com.example.SudoKey.SudokuOn" />
        <activity android:name="com.example.SudoKey.waitingRoom" />
        <activity android:name="com.example.SudoKey.sudokuRoom" />
        <activity android:name="com.example.SudoKey.sudokuOff" />
        <activity android:name="com.example.SudoKey.logIn" />
        <activity android:name="com.example.SudoKey.signUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.SudoKey.TicTacToePC" />
        <activity android:name="com.example.SudoKey.Triangle" />
        <activity android:name="com.example.SudoKey.sudokuSolver" />
        <activity android:name="com.example.SudoKey.MainActivity" />
    </application>

</manifest>